@tailwind components;

.contactEnv {
  @apply flex flex-col items-center justify-center pt-12 pb-12;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 13px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  .contactElement {
    @apply mb-6 font-light;
    width: 70%;
  }

  .contactButtonEnv {
    @apply flex justify-end items-end;
    width: 70%;

    .sendButton {
      @apply bg-primary ml-4 rounded-lg border-0;
      &:hover {
        background-color: #57e1ff;
      }
    }

    .clearButton {
      @apply bg-card rounded-lg text-white border-0;
      &:hover {
        background-color: #273F90;
      }
    }
  }
}
