@tailwind components;

.expEnv {
  @apply flex flex-col justify-center items-center flex-wrap transition-all duration-300 w-full z-20;
  max-width: 1920px;

  .headerEnv {
    @apply flex justify-between items-center flex-wrap rounded-xl text-white font-bold p-4 cursor-pointer;


    .headerDetail {
      @apply flex justify-start items-center flex-wrap mb-1;
      width: 60%;

      .expHeader {
        font-size: min(2.5vw, 18px);
      }

      .headerCountry {
        @apply flex items-center justify-start ml-5 text-gray-400;
        font-size: min(2.5vw, 14px);
      }
    }

    .expDate {
      font-size: min(2.4vw, 18px);
    }
  }

  .bodyEnv {
    @apply flex justify-between items-start -mt-3 bg-blue-950 text-white rounded-b-xl transition-all duration-300 mb-5 overflow-hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, max-width 0.3s ease-in-out;
    opacity: 0;
    overflow: hidden;

    .descriptionEnv {
      .projectTitle{
        font-size: min(3vw, 18px);
      }

      .experienceDescription {
        @apply font-light;
        width: 90%;
        font-size: min(3vw, 16px);
      }
    }

    .bodyImage {
      @apply p-3;
    }
  }

  .bodyEnv.visible {
    opacity: 1;
  }

  @layer components {
    @media (max-width: 768px) {
      .headerEnv {
        @apply transition-all duration-300 ease-in-out;
        width: 90%;
      }
      .bodyEnv{
        width: 90%;

        .bodyImage {
          width: min(20%, 40%);
          height: min(20%, 40%);
        }

        .experienceDescription{
          @apply leading-6 mt-6 ml-6 mb-6;
        }
        .projectTitle{
          @apply ml-6 mt-6;
        }
      }
    }
    @media (min-width: 769px) {
      @media (max-width: 1280px) {
        .headerEnv {
          @apply transition-all duration-300 ease-in-out;
          width: 70%;
        }

        .bodyEnv{
          width: 70%;

          .experienceDescription{
            @apply leading-6 mt-6 ml-6 mb-6;
          }
          .projectTitle{
            @apply ml-6 mt-6;
          }
        }
      }
    }
    

    @media (min-width: 1281px) {
      #education .title{
        @apply mt-12;
      }
      .headerEnv {
        width: 50%;

      }
      .bodyEnv {
        width: 50%;
        
        .descriptionEnv{
          @apply m-6 mb-8;
        }
      }
      
      .experienceDescription{
        @apply leading-7;
      }
    }
  }
}