@tailwind components;
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ NavBar -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 1s ease-in-out forwards;
}

nav {
  transition: background-color 1s ease-in-out, backdrop-filter 0.5s ease;
}

.navbar-visible {
  @apply visible bg-opacity-60 backdrop-filter backdrop-blur-lg;
}

.navbar-hidden {
  @apply invisible;
}

.navLink {
  @apply text-gray-400 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

.navbar-container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.navbar-flex-container {
  @apply h-16;
}

.navbar-logo-link {
  @apply flex items-center justify-start;
}

.mobile-menu-button {
  @apply flex justify-end items-end content-end w-full rounded-md shadow-sm px-4 py-2 bg-transparent text-sm font-medium;
}

.mobile-icon {
  @apply ml-2 -mr-1 font-light h-7 w-7 text-white rounded-2xl;
}

.menu-items-container {
  @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.menu-item {
  @apply block px-4 py-2 text-sm text-gray-700;
}

.menu-item-active {
  @apply bg-gray-100;
}

.menu-slide-container {
  @apply fixed flex flex-col top-0 right-0 h-full bg-background/30 backdrop-blur-lg z-50 items-center justify-center;
  width: 50vw;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  padding: 20px;
  

  &.is-open {
    transform: translateX(0);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .menu-item {
    @apply text-white mb-6;
  }

}
@layer components {
  @media (max-width: 768px) {
    .navbar-flex-container {
      @apply flex items-center justify-between;
    }
    .navbar-logo-link {
      @apply opacity-0;
    }
    .mobile-menu-button {
      @apply mt-8 mr-5;
    }
  }

  @media (min-width: 769px) {
    .nav-desktop {
      @apply transition-all top-0 animate-slideDown ease-in-out duration-1000 bg-opacity-60 backdrop-filter backdrop-blur-sm;
    }
    .navbar-flex-container {
      @apply flex items-center justify-center;
    }
    .navbar-logo-link {
      @apply opacity-100;
    }
  }
}