@tailwind components;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.projectEnv {
  @apply bg-transparent h-full;
  max-width: 1920px;
}

.projectCardEnv {
  :hover .projectIcon {
    &.projectArrow {
      background: white;
      transform: translate(1rem, 0);
    }
  }
}

.projectCardBodyEnv {
  @apply flex flex-col;
}

.blurEnv {
  :hover .projectImage {
    filter: none;
  }
}

.projectImage {
  @apply cursor-pointer;
  border-radius: 13px;
}

.projectTitle {
  @apply text-white font-bold;
  font-size: min(3vw, 20px);
}

.projectBodyDetail {
  @apply leading-7 text-base font-light;
  font-size: min(2.5vw, 16px);
}
.projectTechnologyEnv{
  @apply flex justify-center items-start flex-wrap;
}
.projectTechnology{
  @apply bg-blue-950 text-white rounded-xl pr-2 pl-2 pt-1 pb-1 mt-1 mr-2;
  font-size: min(2.2vw, 20px);
}

.projectViewMoreNav{
  @apply flex items-end justify-end cursor-pointer; 
}


.projectCardEnv:hover .link-text {
  opacity: 0;
}

.projectCardEnv:hover .link-text-hover {
  opacity: 1;
}

.projectIcon {
  @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
  position: relative;
  top: 0;
  bottom: 0;
  background: white;

  &.projectArrow {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
    left: -0.5rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;

    &::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
    }
  }
}


@layer components {
  @media (max-width: 375px) {
    .projectEnv{
    }
    .projectCardEnv {
      @apply flex flex-col justify-center items-center w-full h-full overflow-hidden p-3;
    }
    .projectImage{
      @apply w-full h-full object-cover mb-3;
    }
    .projectTechnologyEnv{
      @apply mb-0;
    }
    .projectViewMoreNav{
      @apply opacity-0 m-0;
    }
    .break-line{
      @apply mb-2 mt-2 opacity-100;
    }
    
  }
  @media (min-width: 979px) {
    .projectCardEnv {
      @apply flex justify-start items-start mt-2;
    }
    
    .projectCardBodyEnv{
      @apply mt-5 mr-5;
    }
    .projectImage {
      @apply m-5;
      width: 50%;
      height: 70%;
      filter: none;
    }
    .projectBodyDetail{
      @apply mt-2 mb-2;
    }
    .break-line{
      @apply mb-0 mt-0;
    }
    .projectViewMoreNav{
      @apply pb-5;
    }
  }
  @media (min-width: 981px) {
    .projectEnv{
      @apply flex justify-start items-start flex-wrap;
    }
    .projectCardEnv {
      @apply flex flex-col flex-wrap w-full h-full;
    }
    .projectImage {
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out;
    }
  }
  @media (min-width: 1024px) {
    .projectCardBodyEnv .break-line {
      opacity: 100 !important;
    }
  }
  @media (max-width: 1280px) {
    .projectEnv {
      @apply pl-1;
    }
  }
  @media (min-width: 1281px) {

  }
}