@tailwind components;

.projectDetailEnv{
  
  max-width: 1920px;
  
  
  .projectDetail{
    @apply flex flex-col justify-center items-start flex-wrap;
    
    
    .projectDetailHeading{
      @apply font-bold mb-2;
      font-size: min(4vw, 24px);
    }
    
    .projectDetailDescription{
      @apply whitespace-pre-wrap mb-5 font-normal leading-7;
      
    }
    
    .projectDetailDiagram{
      @apply mt-2 w-full h-full;
    }
  }
  
  .projectDetailTechnology{
    @apply self-start ;
    
    .technologyIconEnv{
      @apply flex items-center justify-start flex-wrap;
      
      .technologyIcon{
      }
      
    }
  }
}

@layer components{
  @media (max-width: 768px) {
    .projectDetailEnv{
      @apply flex flex-col justify-center items-center flex-wrap mb-10;
      height: 100%;
      
      .projectDetail{
        @apply mt-16;
        max-width: 80%;
        
        .title{
          font-size: min(6vw, 36px);
        }
        
        .projectDetailHeading{
          font-size: min(4vw, 16px);
        }
        
        .projectDetailDiagram{
          @apply mb-8;
        }

        .projectDetailDescription{
          font-size: min(3vw, 16px);
        }
        
        .back-button{
          @apply mt-10;
        }
      }

      .projectDetailTechnology{
        @apply flex items-center justify-center flex-wrap ml-10 mt-10;

        .technologyEnv{
          @apply mr-5 mb-3;
          
          .projectTitle{
            @apply mb-2;
            font-size: min(4vw, 14px);
          }
          .technologyIconEnv {
            @apply mr-4;
            
            .technologyIcon{
              @apply mr-2;
              width: 6vw;
              height: 6vw;
              min-width: 1.4rem;
              min-height: 1.4rem;
              max-width: 6vw;
              max-height:6vw ;
            }
          }
        }
      }
    }
  }
  @media (min-width: 769px) {
    .projectDetailEnv{
      @apply flex items-center justify-center bg-background p-5 mt-36 mb-16;
      
      .projectDetail{
        @apply mr-16 ml-6 ;
        max-width: 65%;
        
        .projectDetailDiagram{
          @apply mb-6;
        }
        
        .projectDetailDescription{
          @apply text-base;
          font-size: min(2vw, 18px);
        }
      }
      
      .projectDetailTechnology{
        @apply mt-16 top-16 sticky;
        .technologyEnv{
          .projectTitle{
            @apply mb-3 mt-6;
          }
          .technologyIcon{
            @apply mr-2;
          }
        }
      }
    }
  }
}