@tailwind components;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.projectEnv {
  @apply bg-transparent h-full;
  max-width: 1920px;
}

.projectViewMoreNav:hover .projectIcon.projectArrow {
  background: white;
  transform: translate(1rem, 0);
}

.projectCardBodyEnv {
  @apply flex flex-col;
}
.projectImage{
  @apply rounded-2xl;
}

.blurEnv {
  :hover .projectImage {
    filter: none;
  }
}

.projectTitle {
  @apply text-white font-bold;
}

.projectBodyDetail {
  @apply leading-7 text-base font-light;
  font-size: min(2.5vw, 16px);
}

.projectTechnologyEnv {
  @apply flex flex-wrap;
}

.projectTechnology {
  @apply bg-blue-950 text-white rounded-xl pr-2 pl-2 pt-1 pb-1 mt-1 mr-2;
  font-size: min(2.2vw, 20px);
}

.projectViewMoreNav {
  @apply relative flex items-end justify-end cursor-pointer;
}


.projectCardEnv:hover .link-text {
  opacity: 0;
}

.projectCardEnv:hover .link-text-hover {
  opacity: 1;
}

.projectIcon {
  @apply ml-5 mb-5;
  @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
  background: white;

  &.projectArrow {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
    left: -0.5rem;
    right: -0.5rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;

    &::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
    }
  }
}


@layer components {
  @media (max-width: 570px) {
    .projectEnv {
      @apply p-6 transition-all duration-300;
    }
    .projectCardEnv {
      @apply flex flex-col justify-center items-center w-full h-full overflow-hidden p-3 transition-all duration-300;
    }
    .projectImage {
      @apply w-full h-full object-cover mb-3 transition-all duration-300;
    }
    .projectTechnologyEnv {
      @apply mb-0 justify-center items-center transition-all duration-300;
    }
    .projectViewMoreNav {
      @apply opacity-0 m-0;
    }
    .break-line {
      @apply mb-2 mt-2 opacity-100;
    }
  }
  @media (min-width: 571px) and (max-width: 978px) {
      .projectEnv{
        @apply transition-all;
      }
      .projectCardEnv {
        @apply flex justify-center items-start w-full h-full overflow-hidden p-3 transition-all duration-300;

        .projectCardBodyEnv {
          @apply mr-3 mt-0 transition-all duration-300;

          .projectBodyDetail {
            @apply mt-5;
          }
        }
      }
      .projectImage {
        @apply object-cover mr-4;
        height: 100%;
      }
      .projectTechnologyEnv {
        @apply mt-1 justify-start transition-all duration-300;
        .projectTechnology {
          @apply mt-5;
          font-size: min(2vw, 12px);
        }
      }
      .projectViewMoreNav {
        @apply opacity-0 m-0;
      }
  }
  @media (min-width: 979px) and (max-width: 1280px) {
      .blurEnv {
        max-width: 45%;
        @apply flex-wrap transition-all duration-300;
      }
      .projectEnv {
        @apply flex justify-start items-start flex-wrap p-1 transition-all duration-300;
      }
      .projectCardBodyEnv {
        @apply ml-7 mr-7 mb-4 mt-4 transition-all duration-300;
        .projectBodyDetail {
          @apply m-0;
        }
      }
      .projectCardEnv {
        @apply flex flex-col justify-center items-center overflow-hidden w-full transition-all duration-300;
      }
      .projectImage {
        @apply mt-5;
        max-width: 90%;
        max-height: 90%;
      }
      .projectTechnologyEnv {
        @apply flex justify-center items-center mt-1 transition-all duration-300;
        .projectTechnology {
          font-size: min(2vw, 12px);
        }
      }
      .projectViewMoreNav {
        @apply opacity-0 m-0;
      }
      .break-line {
        @apply mb-2 mt-2 opacity-100;
      }
  }
  @media (min-width: 1281px) {
    .blurEnv {
      max-width: 30%;
      @apply flex-wrap transition-all duration-300;
    }
    .projectEnv {
      @apply flex justify-center items-center flex-wrap pl-20 pr-20 transition-all duration-300;
    }
    .projectCardBodyEnv {
      @apply ml-7 mr-7 mb-4 mt-4 transition-all duration-300;
      .projectBodyDetail {
        @apply m-0;
        font-size: min(2vw, 15px);
      }
    }
    .projectCardEnv {
      @apply flex flex-col justify-center items-center overflow-hidden w-full transition-all duration-300;
    }
    .projectImage {
      @apply mt-5 transition duration-300 ease-in-out;
      filter: grayscale(100%);
      max-width: 90%;
      max-height: 90%;
    }
    .projectTechnologyEnv {
      @apply flex justify-center items-center mt-1 transition-all duration-300 flex-wrap;
      .projectTechnology {
        font-size: min(2vw, 14px);
      }
    }
    .projectViewMoreNav {
      @apply opacity-100 pb-0;
    }
    .break-line {
      @apply mb-2 mt-2 opacity-100;
    }
  }
}