@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image {
    object-fit: cover;
}
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ General -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.title{
    @apply text-white font-bold cursor-default mb-16;
    font-size: min(2vw, 50px);
}

.icon {
    @apply w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16 mr-2 ml-0;
}

.divBackground{
    @apply relative flex flex-col justify-start items-center h-screen bg-background;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Scroll mouse -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.mouse {
    height: 60px;
    width: 32px;
    border: 2px solid white;
    border-radius: 32px;
    position: relative;
    z-index: 10;

    .scrollWheel {
        height: 10px;
        width: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10px;
        border-radius: 1px;
        transform: scaleY(0);
        animation: scroll 2s linear infinite;
    }
}

@keyframes scroll {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    25% {
        transform: scaleY(1);
        transform-origin: top;
    }
    26% {
        transform-origin: bottom;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

@keyframes slideBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ NavBar -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.navLink {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ HomePage -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Name -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideToRight {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0); 
        opacity: 1;
    }
}

.nameInitial {
    @apply text-center font-bold z-10 text-primary;
    font-size: min(8vw, 100px);
    opacity: 0;
    animation: slideToRight 1s ease-in-out 1s forwards;
}

.name {
    @apply text-center font-bold z-10 text-white;
    font-size: min(8vw, 100px);
    animation: fadeIn 1s ease-in-out forwards; 
}
.nameSpace{
    @apply min-w-2 max-w-4;
}
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Profession -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.profession {
    @apply absolute text-center text-white z-10 pt-36;
    /*Set minimum font size to 1.5vw and maximum to 2vw*/
    font-size: min(2vw, 24px);
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Expertise Card -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.card{
    @apply border-0 border-white flex flex-col items-start justify-center p-7 max-w-96;
    :hover .cardTitle {
        color: transparent; /* Hide the text color to show the background image */
        -webkit-text-fill-color: transparent; /* Specifically for Safari */
        background-size: auto 100%; /* Adjust background size as needed */
        animation: slideBackground 5s linear infinite; /* Apply the scrolling animation */
    }
}
.cardHeader {
    @apply flex items-start justify-start;
}
.cardBody {
    @apply mb-5 ml-4 mt-5;
}
.cardTitle{
    @apply text-white font-bold mt-2 whitespace-pre-wrap ml-4;
    font-size: min(2vw, 24px);
    color: white; /* Default text color */
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    transition: color 2s ease; /* Smooth transition for the color */
}
/* Hover styles for each card type */
.databaseCard:hover .cardTitle {
    background-image: url('../../public/images/SqlServer.jpg');
}

.backendCard:hover .cardTitle {
    background-image: url('../../public/images/CSharp.png');
}

.frontendCard:hover .cardTitle {
    background-image: url('../../public/images/React.jpg');
}

.softwareDevelopmentCard:hover .cardTitle {
    background-image: url('../../public/images/CSharp.png');
}

.element {
    @apply text-gray-500;
}

.descriptionText {
    @apply leading-7 text-base font-light;
}

.description-container {
    @apply relative pl-4 ;
}

.description-container::before {
    content: '';
    @apply absolute bg-gray-600; 
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px; 
}

