@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer components {
    @media (max-width: 768px) {
        .divBackground {
        @apply w-full h-full;
        }
    }
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .cardTransition {
        @apply flex justify-start items-start space-x-4 overflow-auto;
    }

    @media (max-width: 768px) {
        .card {
        }

        .cardTransition {
            @apply flex flex-col
        }
    }
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vw;
    overflow: hidden;
}

.image {
    object-fit: cover;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ General -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.title {
    @apply text-white font-bold cursor-default mb-16;
    font-size: min(2vw, 50px);
}

.icon {
    @apply w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16 mr-2 ml-0;
}

.divBackground {
    @apply relative flex flex-col justify-start items-center bg-background;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Scroll mouse -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.mouse {
    height: 60px;
    width: 32px;
    border: 2px solid white;
    border-radius: 32px;
    position: relative;
    z-index: 10;

    .scrollWheel {
        height: 10px;
        width: 2px;
        background: white;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10px;
        border-radius: 1px;
        transform: scaleY(0);
        animation: scroll 2s linear infinite;
    }
}

@keyframes scroll {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    25% {
        transform: scaleY(1);
        transform-origin: top;
    }
    26% {
        transform-origin: bottom;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

@keyframes slideBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}


/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ HomePage -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Blur Logo -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.blurLogo {
    @apply absolute opacity-5 z-0;
    height: calc(100% / 2);
    width: calc(100% / 2);
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Name -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideToRight {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nameInitial {
    @apply text-center font-bold z-10 text-primary;
    font-size: min(8vw, 100px);
    opacity: 0;
    animation: slideToRight 1s ease-in-out 1s forwards;
}

.name {
    @apply text-center font-bold z-10 text-white;
    font-size: min(8vw, 100px);
    animation: fadeIn 1s ease-in-out forwards;
}

.nameSpace {
    @apply min-w-2 max-w-4;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Profession -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.profession {
    @apply absolute text-center text-white z-10 pt-36;
    font-size: min(2vw, 24px);
}


/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Slider Navigation-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.shine-effect {
    position: relative;
    color: #FFA500;
    animation: pulseShine 1s infinite alternate;
}

@keyframes pulseShine {
    from {
        text-shadow: 0 0 8px #ffd700,
        0 0 12px #ff8c00,
        0 0 24px #ff4500;
    }
    to {
        text-shadow: 0 0 15px #ffff00,
        0 0 25px #ff4500,
        0 0 40px #ff8c00,
        0 0 60px #ffd700,
        0 0 80px #ffff00;
    }
}

.navigation {
    @apply flex justify-center items-center w-full z-50;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform 1000ms ease-in-out;
}

.slide-exit {
    position: absolute;
    width: 100%;
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: transform 1000ms ease-in-out;
}

/*-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Blur card -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_*/
.blurEnv {
    @apply border-0 rounded-2xl p-4 m-2 backdrop-filter;
}
